    <div class="footer">
        <ul>
            <h4>TaskMasters</h4>
            <br>
            <a href="/about">About</a>
            <a href="/contact">Contact us</a>
            <a href="/faq">FAQ</a>
            <a href="/terms">Terms</a>
            <a href="/terms">California Consumer Notice</a>
        </ul>
        <br>
        &copy; TaskMasters 2021.
    </div>
</body>
</html>