<%- include('partials/header'); %>

    <div class="header">
        <a href="/" class="b">
            <img src="/logo.png" alt="logo">
            TaskMasters
        </a>
    </div>

    <div class="about">
        <h4>Revolutionizing Everyday Work</h4>
        <h6>
            Everyday work is important, but it’s also time consuming.
            We can help.
        </h6>
    </div>

    <div class="works">
        <h4>Get More Done in Less Time</h4>
        <h6>
            Our same-day service platform instantly connects you with skilled Taskers 
            to help with odd-jobs and errands, so you can be more productive, every day.
        </h6>
    </div>

    <div class="works round">
        <h4>Our Leadership</h4>
        <br>
        <div class="row">
            <div class="col">
                <img src="/ceo.jpg" alt="jessica">
                <a>Jessica Wall</a>
                <p>Chief Executive Officer</p>
            </div>
        
            <div class="col">
                <img src="/jude.jpg" alt="jude">
                <a>Jude Grasso</a>
                <p>Chief Technology Officer</p>
            </div>
        
            <div class="col">
                <img src="/sarah.jpg" alt="sarah">
                <a>Sarah Merida</a>
                <p>President & Chief Product Officer</p>
            </div>
        
            <div class="col">
                <img src="/chang.jpeg" alt="chang">
                <a>Wu Chang</a>
                <p>General Counsel</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <img src="/mark.jpg" alt="mark">
                <a>Mark Robert</a>
                <p>First Handler</p>
            </div>
        
            <div class="col">
                <img src="andrew.jpg" alt="andrew">
                <a>Andrew Cohava</a>
                <p>Second Handler</p>
            </div>
        
            <div class="col">
                <img src="elen.jpg" alt="elen">
                <a>Elen Mendez</a>
                <p>Customer Service Rep</p>
            </div>
        
            <div class="col">
                <img src="raymond.jpg" alt="raymond">
                <a>Raymond Stall</a>
                <p>Customer Service Rep 2</p>
            </div>
        </div>

        </div>

    <div class="works saying">
        <div class="row">
            <div class="col">
                <img src="/apartment.svg" alt="apartment therapy">
                <span>
                    TaskMasters, one of the biggest players in the gig economy where people offer their time and services as housecleaners, movers, furniture assemblers...”
                </span>
            </div>
            <div class="col">
                <img src="/britco.svg" alt="britco">
                <span>
                    TaskMasters is arguably the best thing to come out of the modern day tech revolution. Hiring a Tasker can really help make every facet of your life a breeze.”
                </span>
            </div>
            <div class="col">
                <img src="/nyt.svg" alt="new york times">
                <span>
                    TaskMasters, a company known for, among other things, sending tool-wielding workers to rescue customers befuddled by build-it-yourself furniture kits.”
                </span>
            </div>
        </div>
    </div>

<%- include('partials/footer'); %>