<%- include('partials/header'); %>

    <div class="header">
        <a href="/" class="b">
            <img src="/logo.png" alt="logo">
            TaskMasters
        </a>
    </div>

    <div class="terms">
        <h4>Contact Us</h4>
        <p>Drop us a message, we'll be quick to respond</p>
        <form action="/" method="get">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Enter Email" id="email">
            </div>
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" placeholder="Enter Subject" id="subject">
            </div>
            <div class="form-group">
                <label for="msg">Message</label>
                <textarea class="form-control" placeholder="Enter Message" id="msg"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<%- include('partials/footer'); %>