<%- include('partials/header'); %>

    <div class="header">
        <a href="/" class="b">
            <img src="/logo.png" alt="logo">
            TaskMasters
        </a>
        <div>
            <a href="/about">about</a>
            <a href="#signin" class="signin" onclick="return showLogin(); document.getElementById('xw').focus();" id="account">sign in</a>
        </div>
    </div>

    <div class="attention" >
        <div class="row">
            <div class="col-sm sendme">
                <h4>Choose your errands</h4>
                <h4>at your own convenience, </h4>
                <h4>and make Money.</h4>
                <div>
                    TaskMasters is all about connecting people with 
                    possibilities: bigger savings accounts, wider nets, 
                    stronger communities, and happier days. We empower 
                    youths and students with opportunities to earn, work, and live.
                    With TaskMasters, you can be your own boss and enjoy the 
                    flexibility of choosing when, where, and how much you earn. 
                    All you need is a mode of transportation and a smartphone 
                    to start making money. It’s that simple.
                </div>
            </div>
            <div class="col-sm" id="xw">
                <form class="sForm" onsubmit=" prevent( event); register();" id="ab">
                    <span id="yes"></span>
                    <h4>Sign up to start earning</h4>
                    <div class="row">
                        <div class="col">
                            <input type="text" id="firstname" class="form-control" placeholder="First name" required>
                        </div>
                        <div class="col">
                            <input type="text" id="lastname" class="form-control" placeholder="Last name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="email" id="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="col">
                            <input type="number" id="phone" class="form-control" placeholder="Phone" required minlength="9">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="password" id="pass" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="col">
                            <input type="password" id="cass" name="confirm" class="form-control" placeholder="Confirm Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                            <input type="text" id="address" class="form-control" id="inputAddress" placeholder="Address" required>
                    </div>
                    <div class="form-group">
                            <input type="text" id="suite" class="form-control" id="inputAddress2" placeholder="Apt or Suite No">
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" id="city" class="form-control" placeholder="City" required>
                        </div>
                        <div class="col">
                            <input type="text" id='state' class="form-control" placeholder="State" required>
                        </div>
                        <div class="col">
                            <input type="number" id="zip" class="form-control" placeholder="Zip" required minlength="4">
                        </div>
                    </div>
                    <br>
                    <p>
                        <input type="checkbox" required>I accept the <a href='/terms'>terms</a> of service.
                    </p>
                    <br>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <br><br>
                    <span id="not"></span>
                </form>
            </div>
            <div class="hide" id="zy">
                <form method="post" class="sForm" onsubmit="login(); return false;" id="cd">
                    <h4>Welcome back</h4>
                    <div class="form-group">
                        <label for="email-login">Email</label>
                        <input type="email" class="form-control" required placeholder="Enter Email" id="email-login" >
                    </div>
                    <div class="form-group">
                        <label for="pass-login">Password</label>
                        <input type="password" id="pass-login" class="form-control" required placeholder="Enter Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <br><br>
                    <span id="not"></span>
                </form>
            </div>
        </div>
    </div>

    <div class="works">
        <h4>How it works</h4>
        <br>
        <div class="row">
            <div class="col">
                <img src="/step2.png" alt="sign up">
                <a>Sign up</a>
                <span>
                    Register an account with TaskMasters and get started
                </span>
            </div>
            <div class="col">
                <img src="/step1.png" alt="profile">
                <a>Set up your errand profile</a>
                <span>
                    Tell us what kinds of errands you are comfortable 
                    taking and attributes that makes you best 
                    suited for it.
                </span>
            </div>
            <div class="col">
                <img src="/step3.png" alt="get paid">
                <a>Get it Done. Get PAID!</a>
                <span>
                    You get assigned an errand and on completion, 
                    you get paid and reviewed by your tasker all 
                    through TaskMasters.
                </span>
            </div>
        </div>
    </div>

    <div class="requirements">
        <h4>Sign up Requirements</h4>
        <ul>
            <li>18 years or older</li>
            <li>Any valid means of Identification ( Drivers liscense, Student ID, State ID, etc ) </li>
            <li>Must be able to transport yourself easily through the city.</li>
            <li>Must have a bank account ( Checks are our only means of payment to verify residence address)</li>
            <li>Final step: consent to a background check</li>
        </ul>
    </div>

    <div class="reviews">
        <div>
            <img src="/jerry.jpg" alt="jerry's review">
            <span class="main">
                Using TaskMasters to get a new decorator  was a great 
                choice! Mike did wonderful work with a job that was 
                much bigger than we anticipated.
            </span>
            <br>
            <li>
                <a>Jerry T.</a>
                <br>
                <span>Boston, MA.</span>
            </li>
        </div>

        <div>
            <img src="/elan.jpg" alt="elan's review">
            <span class="main">
                I finally have expertly installed shelves and 
                additional storage in my tiny apartment, all 
                thanks to my TaskMasters for referring the perfect docorator.
            </span>
            <li>
                <a>Elan R.</a>
                <br>
                <span>Seattle, WA.</span>
            </li>
        </div>

        <div>
            <img src="/angela.jpg" alt="angela's review">
            <span class="main">
                I was able to hire a pet-sitter for my dogs from on here. 
                Caithlyn was more than loving with our baby dogs, they loved
                her so much, she was thorough with bathing and grooming them too.
        

            </span>
            <li>
                <a>Angela D.</a>
                <br>
                <span>New York, NY.</span>
            </li>
        </div>

        <div>
            <img src="/lincoln.jpg" alt="lincoln's review">
            <span class="main">
                With my busy schedule so far in December, I hired
                a shopper who helped me with all my Christmas shopping and 
                everything was accounted for, she didn't take a penny for herself.
            </span>
            <li>
                <a>Lincoln M.</a>
                <br>
                <span>Austin, TX.</span>
            </li>
        </div>
    </div>

    <script>
        const col_sm = document.getElementById('xw'),
            hide = document.getElementById('zy'),
            signUp = document.getElementById('ab'),
            signIn = document.getElementById('cd');
    </script>

<%- include('partials/footer'); %>